*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 0 20px;
}
nav .one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one ul {
    display: flex;
    margin-left: 20px;
}
.one ul li{
    list-style: none;
    margin: 0 15px;
}
.one ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.one img{
    width: 150px;
}
nav  button {
    margin-right: 20px;
}
nav  button , .hero button{
    background-color: #5955b3;
    border: none;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 200;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
}
.hero .left-hero-section{
    margin-left: 30px;
}
.hero .left-hero-section h1{
    font-weight: 600;
    font-size: 70px;
    line-height: 74px;
    color: #3c2f60;
}
.hero .left-hero-section span {
    color: #5955b3;
  }
  .hero .left-hero-section p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 28px;
  }
.hero  img{
    width: 700px;
}
.hero .left-hero-section button{
    margin-top: 40px;
}